# ==========================================
# KONFIGURASI SUPABASE (Database Keycloak)
# ==========================================

# URL Koneksi JDBC (Contoh format: jdbc:postgresql://[HOST]:[PORT]/[DB]?sslmode=require)
SUPABASE_DB_URL=jdbc:postgresql://db.xxxxxxxxxxxxxx.supabase.co:5432/postgres?sslmode=require

# Username Database Supabase (Biasanya 'postgres')
SUPABASE_DB_USERNAME=postgres

# Password Database Supabase
SUPABASE_DB_PASSWORD=your_supabase_password

# ==========================================
# KONFIGURASI ADMIN KEYCLOAK (Opsional)
# ==========================================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
